<ngb-carousel  class="my-2">
  <ng-template ngbSlide *ngFor="let temp of testimonials | keyvalue ; index as i">
    <div class="picsum-img-wrapper">
      <div class="container">
        <blockquote class="blockquote text-center text-primary py-4 px-3">
          <p>
            <span class="quotation-mark">“</span>
            {{testimonials.quotes[i]}}
          <footer class="blockquote-footer">{{testimonials.name[i]}},
            <cite title="The Greek Way">{{testimonials.city[i]}}</cite>
          </footer>
        </blockquote>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
