

<div class="container">
  <h3>Your Orders</h3>
  <div *ngIf="orderHistoryList.length > 0">

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Order Tracking Number</th>
          <th scope="col">Total Price</th>
          <th scope="col">Total Quantity</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tempOrderHistory of orderHistoryList">
          <td>
            {{ tempOrderHistory.orderTrackingNumber }}
          </td>
          <td>
            {{ tempOrderHistory.totalPrice | currency: 'INR' }}
          </td>
          <td>
            {{ tempOrderHistory.totalQuantity }}
          </td>
          <td>
            {{ tempOrderHistory.dateCreated | date: 'medium' }}
          </td>
        </tr>

      </tbody>
    </table>

  </div>

  <!-- if order history is empty then display a message -->
  <div *ngIf="orderHistoryList.length == 0" class="alert alert-warning col-md-12" role="alert">
    No orders found.
  </div>

</div>
