<div class="detail-section">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-4">
        <img src="{{product.imageUrl}}" class="img-fluid " />
      </div>
      <div class="col-md-6">
        <h2>{{product.name}}</h2>
        <hr>

        <h5>Description:</h5>
        <p>{{product.description}}</p>

        <h3>{{product.unitPrice | currency:'INR'}}</h3>
        <a (click)="addToCart()" class="btn btn-primary mt-3 ">Add to cart</a><br>


        <span >
          <a routerLink="/products" class="btn mt-5" style="font-size: 20px; color: Dodgerblue;">
            <i class=" fas fa-arrow-circle-left"></i>
            Back to Shop
          </a>
        </span>

      </div>
      <div class="col-md-2"></div>
    </div>


  </div>
</div>
