<div class="container">


  <h3 style="padding-top:80px;">CANCELLATION/REFUND POLICY</h3><br>
  <b>Product Return Policy</b><br>
  In case of any dissatisfaction, manufacturing or packaging defect, customers/Distributors can return/exchange the product. The customers/ Mission Partner Participant must contact the Employee /Mission Partner/Company from whom they had purchased the same, within 30 days from the date of purchase. They have to provide a reason and return the said products. In case the customer returns the product, it is the distributor's obligation to satisfy the customer’s need for money refund or replacements of products.
  <br>The Employee /Mission Partner/ can then return these products, with original Invoice to the Company. The Company will replace these products free of cost or if the Mission Partner/does not want the same products, the Company will give a cash voucher of the same amount, which can be used by the Mission Partner for purchasing products of their choice.
  <br>• Product Return Form
  <br>• Reason for return
  <br>• Copy of Invoice
  <br>• Products to be returned
  <br><br><b>Buy Back Policy</b><br>
  The Company provides a Buy Back Policy to the Mission Partner who wishes to resign from his/her Mission Partner Participant and return any Wisteria India products that are in good condition, useable, resaleable, restock-able, unopened, and unaltered and must have a shelf life of at least four months.
  <br>If the Mission Partner resigns within 30 days from the purchase of the products, Wisteria India shall provide a full refund for the products to the Distributor.
  <br>If the Distributor resigns from his/her Mission Partner Participant after the expiry of 30 days from the date of purchase of products from Wisteria India , the amount refunded will be equal to Mission Partner cost of the products being returned, less total bonus paid out by the Company on the original purchase, less 10% service charge.
  <br>The Buy Back policy is designed to impose upon the sponsor and the Company the obligation to ensure that the Mission Partner is buying products wisely.
  <br><br><b>Cancellation</b><br>
  For Cancellation of confirmed/placed order please Contact Us / write to us at <a href="mailto:info@wisteriaindia.com">info@wisteriaindia.com</a>
  <br><br>Please Note: Product Return Policy is <b>NOT VALID</b> on Electric items if opened.<br><br>




</div>