
<footer class="py-5">
  <div class="container">

    <div class=" py-4  border-top"></div>

    <div class="row">

      <div class="col-md-2"></div>

      <div class="col-md-2">
          <h5>Policy</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Privacy Policy</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Terms and Conditions</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Cancellation Refund Policy</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
          </ul>
      </div>

      <div class="col-md-2 ">
          <h5>Services</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="http://family.wisteriaindia.com/#/registration" target="_blank" class="nav-link p-0 text-muted">Partner Registration</a></li>
            <li class="nav-item mb-2"><a href="http://family.wisteriaindia.com/#/login" target="_blank"class="nav-link p-0 text-muted">Partner Login</a></li>
            <li class="nav-item mb-2"><a href="http://family.wisteriaindia.com/#/employee-login" target="_blank" class="nav-link p-0 text-muted">Employee Login</a></li>
            <li class="nav-item mb-2"><a href="http://family.wisteriaindia.com/#/talent-hunt-registration" target="_blank" class="nav-link p-0 text-muted">Talent Hunt</a></li>
            <!-- <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li> -->
          </ul>
      </div>
        

      <div class="col-md-4">
        <div class="footer-logo">
          <img src="assets/images/LogoSiteBlack.png" alt="Footer Logo" style="max-height: 60px;">
          <p class="info">
              <!-- We are a team of designers and developers that create high quality HTML Template & Woocommerce, Shopify Theme. -->
          </p>
      </div>
      <ul  class="nav flex-column">
          <li  class="nav-item mb-2">
             {{address1}} <br>
             {{address2}}
          </li>
          <li  class="nav-item mb-2">
              {{phoneNumber}}
          </li>
          <li  class="nav-item mb-2">
              Email:<a href="mailto:customer.care@wisteriaindia.com">customer.care@wisteriaindia.com</a>
          </li>
      </ul>
      </div>

    </div>

    <div class="d-flex justify-content-between py-4 my-4 border-top">

      <p>&copy;  2021 Wisteria India Multitrade Private limited. | All Rights Reserved</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-dark" href="#"><i class="fab fa-twitter"></i></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><i class="fab fa-instagram"></i></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><i class="fab fa-facebook-square"></i></a></li>
      </ul>

  </div>

  </div>



  <div class="col-lg-12">
    <!-- Begin Footer Links Area -->

    <!-- Footer Links Area End Here -->
    <!-- Begin Footer Payment Area -->
    <div class="payment text-center">
      <!-- <a href="#">
        <img src="assets/images/payments/1.png" alt="">
      </a> -->
    </div>
    <!-- Footer Payment Area End Here -->
  </div>

</footer>
