@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700,400italic);
/* Try setting this to true :) */

p {
  margin: 1.6em 0;
}

hr {
  margin: 2em 0;
  text-align: center;
  /* line-height: 1px; */
  height: 1px;
  background: #ddd;
  /* border: 15px solid #fff; */
  border-left: 0;
  border-right: 0;
  font-size: 1.5em;
}


article {
  margin: 0 auto;
  max-width: 100%;
  /* padding: 40px 11.14%; */
  word-break: break-word;
  hyphens: auto;
}
article p:first-of-type:first-letter {
  float: left;
  font-size: 4.7rem;
  line-height: 6.5rem;
  margin: 0 10px 0 0;
}
/* article p:not(:first-of-type) {
  text-indent: 1.4em;
} */

@media only screen and (max-width: 700px) {
  article {
    font-size: 0.85em;
    line-height: 1.7em;
    margin-bottom: 30px;
    padding: 8%;
  }
  article p:first-of-type:first-letter {
    font-size: 4.6rem;
    line-height: 5.2rem;
    margin: 0 10px 0 0;
  }

}
@media only screen and (max-width: 502px) {
  article {
    width: auto;
    font-size: 0.8em;
    line-height: 1.6em;
  }
  article p:first-of-type:first-letter {
    font-size: 4rem;
    line-height: 4.5rem;
    margin: 0 6px 0 0;
  }

}
@-webkit-keyframes in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* ------------------------------ */



