<!-- Slider -->
<ngb-carousel >
  <ng-template ngbSlide *ngFor="let img of images; index as i">
    <div class="picsum-img-wrapper">
      <img [src]="img" alt="Random first slide">
    </div>
  </ng-template>
</ngb-carousel>

<!-- Slider -->

<!-- product-list-home -->
<div class="row">
  <div class="col-md-9">
    <app-product-list-home></app-product-list-home>
  </div>
  <div class="col-md-3 my-5">
    <figure><img src="assets/images/banner/3_4.jpeg" alt="..."></figure>
  </div>
</div>

<!-- End product-list-home -->

<!-- <app-product-list-home></app-product-list-home> -->

<!-- about us -->
<div class="container border-top"></div>
<div class="row my-2">
  <div class="col-md-3">
    <app-about-us></app-about-us>
  </div>
  <div class="col-md-9">
    <article>

      <p>Wisteria India Multitrade Pvt. Ltd., which started its operations in the year 2017, deals in Organic and Herbal
        Food Products.
        We constantly expand all range products, Wisteria India growing his Business with Values.
        Together we can achieved more </p>
      <!-- <hr> -->
      <p>Interrelation to other rights. This reads “all human rights are universal, indivisible and interdependent and
        interrelated"
        The right to food is considered interlinked with the following human rights in particular: Right to life, Right
        to livelihood,
        Right to health, Right to property, Freedom of Expression, Freedom of Information, Right to Education, Freedom
        of Association,
        and the Right to Water. Other relevant rights include: the Right to Work, the Right to Social Security, the
        Right to Social welfare,
        and the Right to an adequate standard of living. </p>
      <p>Household food security exists when all members, at all times, have access to enough food for an active,
        healthy life.
        Individuals who are food secure do not live in hunger or fear of starvation. India is a Land Of Diversity exists
        in the term of Culture,
        Trading, Religion, Language, Festival, etc.The constitute of India prohibits discrimination. Sometimes wealth
        creates economic difference,
        making some people rich and some people poor. Difference in income lead to inequality and affect peoples in many
        ways from making their basic Needs take food,
        clothing and shelter to having access to medical facilities, education etc</p>
      <!-- <hr> -->
      <p>I hold a token of the second bang in my hands. No bang, no show – most would say what I’m holding is just a
        rock. Walk into any proper house of curiosities and ask to see their hand axes. They will show you something
        similar to what I hold: a stone resembling an arrowhead with a tip that is honed and sharp. It will be close to
        the size of a deck of cards and fit comfortably into the hand. Hand axes are frequently cited as the first
        human-made objects; the oldest specimens, discovered in Ethiopia, are estimated to be about two-and-a-half
        million years old. We have been molding this world for a very long time.</p>
      <p>Discrimination against on the basic of their wealth emerges due to Prejudice is an unreasonable opinion about a
        person.
        We can overcome prejudice by understanding people and Basic Need Free Nation Mission A stereotype is a fixed
        idea that people have someone.
        The Indian Constitution Preamble which forms the introduction provides Justice, Equality, Liberty and Fraternity
        for all citizens of Indians</p>
      <!-- <hr> -->
      <p>Wisteria India believes in empowering with the opportunity to lead each one their lives for achieve their own
        dream. With the motto of making strong base through mission,
        Wisteria India has continued to enrich the lives of everyone who is a part of the Country; those who believe
        that growth of nation is depend upon every
        citizen of India VISION to help people live a life of basic need free for achieve their own dream.
        MISSION Basic Need Free Nation</p>

    </article>
  </div>
</div>
<!-- End about us -->

<!-- contact us -->
<app-contact-us></app-contact-us>
<!-- End contact us -->

<!-- user testimonials -->
<app-testimonial></app-testimonial>
<!-- End user testimonials -->





<!-- <app-product-list></app-product-list> -->
