<div class="login-status-header">

  <div class="navbar-collapse" #navbarContent>
    <ul class="navbar-nav ml-auto">

      <li class="nav-item" ngbDropdown >
        <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button">
          Category
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
          <li *ngFor="let tempProductCategory of productCategory">
            <a ngbDropdownItem routerLink="/category/{{tempProductCategory.id}}">{{tempProductCategory.categoryName}}</a>
          </li>
        </div>
      </li>

    </ul>
  </div>


</div>

<!-- <mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav>
    <mat-nav-list>


      <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
        <li *ngFor="let tempProductCategory of productCategory">
          <a mat-list-item (click)="sidenav.toggle()" ngbDropdownItem routerLink="/category/{{tempProductCategory.id}}">{{tempProductCategory.categoryName}}</a>
        </li>
      </div>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container> -->


