<div class="login-status-header">

  <div class="navbar-collapse" id="navbarContent">
    <ul class="navbar-nav ml-auto">

      <li class="nav-item" ngbDropdown>
        <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button">
          Category
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
          <li *ngFor="let tempProductCategory of productCategory">
            <a ngbDropdownItem routerLink="/category/{{tempProductCategory.id}}">{{tempProductCategory.categoryName}}</a>
          </li>
        </div>
      </li>

    </ul>
  </div>


<!-- <button *ngIf="isAuthenticated" routerLink="/members" class="btn btn-light">Member</button>

  <button *ngIf="isAuthenticated" routerLink="/order-history" class="btn btn-light ml-2">Orders</button> -->

<!-- <button *ngIf="isAuthenticated" (click)="logout()" class="btn btn-light">Logout</button>

  <div *ngIf="isAuthenticated && userFullName" class="login-status-user-info">
    {{ userFullName }}
    <i class="fas fa-user"></i>
  </div> -->

</div>






<!-- <div class="menu-sidebar-content js-scrollbar1">
  <nav class="navbar-sidebar">
    <ul class="list-unstyled navbar-list">
      <li *ngFor="let tempProductCategory of productCategory">
        <a  routerLink="/category/{{tempProductCategory.id}}" routerLinkActive="active-link">
          {{tempProductCategory.categoryName}}
        </a>
      </li>
    </ul>
  </nav>
</div> -->
