<!-- <div class="form-header">

  <input  #myInput type="text"
         placeholder="Search for Products ..."
         class="au-input au-input-xl"
         (keyUp.enter)="doSearch(myInput.value)" />

  <button (click)="doSearch(myInput.value)" class="au-btn-submit" >
    Search
  </button>

</div> -->




<div class="form">
  <input #myInput type="text" class="form-control form-input au-input-xl" placeholder="Search for products..."
    (keyUp.enter)="doSearch(myInput.value)">
  <i class="fa fa-search" (click)="doSearch(myInput.value)"></i>
</div>
