<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 my-2">

      <!-- search -->
      <div class="panel my-2">
        <div class="panel-body">
          <input #myInput type="text"
          placeholder="Search for Products ..." class="form-control"
          (keyUp.enter)="doSearch(myInput.value)"  />
          
        </div>
      </div>
      <!-- End search -->

      <!-- category -->
      <div class="panel my-2">
        <header class="panel-heading">
          Category
        </header>
        <div class="panel-body">
          <ul class="prod-cat list-unstyled">
            <li *ngFor="let tempProductCategory of productCategory">
              <a routerLink="/category/{{tempProductCategory.id}}" class="nav-link text-muted">
                <i class="fas fa-angle-right"></i> {{tempProductCategory.categoryName}}</a>
              <!-- <ul class="prod-cat list-unstyled">
                            <li class="active"><a href="#">- Shirt</a></li>
                            <li><a href="#">- Pant</a></li>
                            <li><a href="#">- Shoes</a></li>
                        </ul> -->
            </li>
          </ul>
        </div>
      </div>
      <!-- End category -->

      <!-- <div class="panel">
            <header class="panel-heading">
                Price Range
            </header>
            <div class="panel-body sliders">
                <div id="slider-range" class="slider"></div>
                <div class="slider-info">
                    <span id="slider-range-amount"></span>
                </div>
            </div>
        </div> -->
      <!-- <div class="panel">
            <header class="panel-heading">
                Filter
            </header>
            <div class="panel-body">
                <form role="form product-form">
                    <div class="form-group">
                        <label>Brand</label>
                        <select class="form-control hasCustomSelect" style="-webkit-appearance: menulist-button; width: 231px; position: absolute; opacity: 0; height: 34px; font-size: 12px;">
                            <option>Wallmart</option>
                            <option>Catseye</option>
                            <option>Moonsoon</option>
                            <option>Textmart</option>
                        </select>
                        <span class="customSelect form-control" style="display: inline-block;"><span class="customSelectInner" style="width: 209px; display: inline-block;">Wallmart</span></span>
                    </div>
                    <div class="form-group">
                        <label>Color</label>
                        <select class="form-control hasCustomSelect" style="-webkit-appearance: menulist-button; width: 231px; position: absolute; opacity: 0; height: 34px; font-size: 12px;">
                            <option>White</option>
                            <option>Black</option>
                            <option>Red</option>
                            <option>Green</option>
                        </select>
                        <span class="customSelect form-control" style="display: inline-block;"><span class="customSelectInner" style="width: 209px; display: inline-block;">White</span></span>
                    </div>
                    <div class="form-group">
                        <label>Type</label>
                        <select class="form-control hasCustomSelect" style="-webkit-appearance: menulist-button; width: 231px; position: absolute; opacity: 0; height: 34px; font-size: 12px;">
                            <option>Small</option>
                            <option>Medium</option>
                            <option>Large</option>
                            <option>Extra Large</option>
                        </select>
                        <span class="customSelect form-control" style="display: inline-block;"><span class="customSelectInner" style="width: 209px; display: inline-block;">Small</span></span>
                    </div>
                    <button class="btn btn-primary" type="submit">Filter</button>
                </form>
            </div>
        </div> -->

      <!-- best seller -->
      <!-- <div class="panel my-2">
            <header class="panel-heading">
                Best Seller
            </header>
            <div class="panel-body">
                <div class="best-seller">
                    <article class="media">
                        <a class="pull-left thumb p-thumb">
                            <img src="https://via.placeholder.com/250x220/FFB6C1/000000" />
                        </a>
                        <div class="media-body">
                            <a href="#" class="p-head">Item One Tittle</a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </article>
                    <article class="media">
                        <a class="pull-left thumb p-thumb">
                            <img src="https://via.placeholder.com/250x220/A2BE2/000000" />
                        </a>
                        <div class="media-body">
                            <a href="#" class="p-head">Item Two Tittle</a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </article>
                    <article class="media">
                        <a class="pull-left thumb p-thumb">
                            <img src="https://via.placeholder.com/250x220/6495ED/000000" />
                        </a>
                        <div class="media-body">
                            <a href="#" class="p-head">Item Three Tittle</a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </article>
                </div>
            </div>
        </div> -->
      <!-- End best seller -->
    </div>

    <div class="col-md-9 my-2">

      <div class="container" style="margin-top:50px;">
        <div class="row">
          <div class="col-md-3 mt-2" *ngFor="let tempProducts of products">
            <div class="card-sl">

              <div class="card-image">
                <a class="card-action"><i class="fa fa-heart"></i></a>
                <a routerLink="/products/{{tempProducts.id}}">
                  <img src="{{tempProducts.imageUrl}}" alt="{{tempProducts.name}}" />
                </a>
              </div>

              <div class="card-heading">
                {{tempProducts.name}}
              </div>
              <div class="card-text">

              </div>
              <div class="card-text">
                {{tempProducts.unitPrice | currency:'INR'}}
              </div>

              <ng-template #content>
                <ngb-alert type="success" [dismissible]="false">
                  <strong>Successfully</strong> added to cart..!!
                </ngb-alert>
              </ng-template>

              <a class="card-button" (click)="addToCart(tempProducts)" (click)="open(content)">Add to Cart</a>
            </div>
          </div>

          <!-- If product not found -->
          <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
            No Product Found.
          </div>

        </div>
      </div>

      <!-- start Pagination part -->
      <div class="footer-pagination mt-4">
        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6 text-center">

            <ngb-pagination [(page)]="thePageNumber" [pageSize]="thePageSize" [collectionSize]="theTotalElement"
              (pageChange)="listProducts()" [maxSize]=maxSize [boundaryLinks]=boundaryLinks>
            </ngb-pagination>

            <!--
                    <div  class="col-md-4 mt-2" style="text-align: right">
                      <span class="mr-2" >Page Size</span>
                      <select (change)="updatePageSize($event.target.value)" >
                        <option selected="true">5</option>
                        <option>10</option>
                        <option>20</option>
                        <option>50</option>
                      </select>
                    </div> -->

          </div>
        </div>
      </div>
      <!-- start Pagination part -->

    </div>
  </div>
</div>
