<div class="container">
  <div class="section-content section-content-p30 mt-3">
    <h4>Category: {{ currentCategoryName }}</h4>
    <hr>
    <div class="container-fluid">
      <div class="row">

        <div *ngFor="let tempProducts of products" class="col-md-3">
          <div class="product-box">

            <a routerLink="/products/{{tempProducts.id}}">
              <img src="{{tempProducts.imageUrl}}" class="img-responsive" />
            </a>

            <a routerLink="/products/{{tempProducts.id}}">
              <h2>{{tempProducts.name}}</h2>
            </a>

            <div class="price">{{tempProducts.unitPrice | currency:'INR'}}</div>

            <a (click)="addToCart(tempProducts)" class="btn btn-primary btn-sm">Add to Cart</a>
          </div>
        </div>

        <!-- If product not found -->
        <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
          No Product Found.
        </div>

      </div>

      <!-- start Pagination part -->
      <div class="footer-pagination">
        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6 text-center">

            <ngb-pagination [(page)]="thePageNumber" [pageSize]="thePageSize" [collectionSize]="theTotalElement"
              (pageChange)="listProducts()" [maxSize]=maxSize [boundaryLinks]=boundaryLinks>

            </ngb-pagination>


            <!--
              <div  class="col-md-4 mt-2" style="text-align: right">
                <span class="mr-2" >Page Size</span>
                <select (change)="updatePageSize($event.target.value)" >
                  <option selected="true">5</option>
                  <option>10</option>
                  <option>20</option>
                  <option>50</option>
                </select>
              </div> -->


          </div>
        </div>
      </div>
      <!-- start Pagination part -->
    </div>
  </div>

</div>

