*{padding: 0; margin: 0; box-sizing: border-box;}
body{height: 900px;}
header {
	background: url('/assets/images/11.jpeg');
	text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
  /* opacity: 0.9; */
}
header .overlay{
	width: 100%;
	height: 100%;
	padding: 50px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
  /* background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%); */

}

h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 50px;
	margin-bottom: 30px;
  color: #fff;
}

h3, p {
	font-family: 'Dancing Script', cursive;
	margin-bottom: 30px;
  color: #fff;
}


/* ----------------------- */

span{
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
}
span a{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Dancing Script', cursive;

}
span a:before,
span a:after{
  position: absolute;
  content: "Join With Us!";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
span a:before{
  color: #000;
  background: #fff;
  transform: rotateY(0deg) translateZ(25px);
}
span a:after{
  color: #fff;
  background: rgb(228, 11, 22);
  transform: rotateX(90deg) translateZ(25px);
}
span a:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}

