<div class="main-content page-m">
  <div class="section-content section-content-p30">
    <div class="container-fluid">

      <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">

        <!-- customer form group -->
        <div formGroupName="customer" class="form-area">
          <h3>Customer</h3>

          <!-- First Name -->
          <div class="row">
            <div class="col-md-2"><label>First Name</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="firstName" type="text">

                <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
                  class="alert alert-danger mt-1">
                  <div *ngIf="firstName.errors.required || firstName.errors.noWhiteSpaces">
                    First Name is required
                  </div>
                  <div *ngIf="firstName.errors.minlength">
                    First Name must be at least 2 characters long
                  </div>
                </div>

              </div>
            </div>
          </div>

          <!-- last Name -->
          <div class="row">
            <div class="col-md-2"><label>Last Name</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="lastName" type="text">

                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="lastName.errors.required || firstName.errors.noWhiteSpaces">
                    Last Name is required
                  </div>
                  <div *ngIf="lastName.errors.minlength">
                    Last Name must be at least 2 characters long
                  </div>
                </div>

              </div>
            </div>
          </div>

          <!-- mail -->
          <div class="row">
            <div class="col-md-2"><label>Email</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="email" type="text">


                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="email.errors.required">
                    Email is required
                  </div>
                  <div *ngIf="email.errors.pattern">
                    Email must be valid formate
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!--End customer form group -->

        <!-- Shipping address form group -->
        <div formGroupName="shippingAddress" class="form-area">
          <h3>Shipping Address</h3>

          <!-- country -->
          <div class="row">
            <div class="col-md-2"><label>Country</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="country" (change)="getStates('shippingAddress')">
                  <option *ngFor="let theCountries of countries" [ngValue]="theCountries">
                    {{ theCountries.name }}
                  </option>
                </select>

                <div
                  *ngIf="shippingAddressCountry.invalid && (shippingAddressCountry.dirty || shippingAddressCountry.touched)"
                  class="alert alert-danger mt-1">
                  <div *ngIf="shippingAddressCountry.errors.required">
                    Country is required
                  </div>
                </div>

              </div>
            </div>
          </div>

          <!-- street Name -->
          <div class="row">
            <div class="col-md-2"><label>Street</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="street" type="text">

                <div
                  *ngIf="shippingAddressStreet.invalid && (shippingAddressStreet.dirty || shippingAddressStreet.touched)"
                  class="alert alert-danger mt-1">
                  <div *ngIf="shippingAddressStreet.errors.required || shippingAddressStreet.errors.noWhiteSpaces">
                    Street is required
                  </div>
                  <div *ngIf="shippingAddressStreet.errors.minlength">
                    Street must be at least 2 characters long
                  </div>
                </div>

              </div>
            </div>
          </div>

          <!-- city Name -->
          <div class="row">
            <div class="col-md-2"><label>City</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="city" type="text">

                <div *ngIf="shippingAddressCity.invalid && (shippingAddressCity.dirty || shippingAddressCity.touched)"
                  class="alert alert-danger mt-1">
                  <div *ngIf="shippingAddressCity.errors.required || shippingAddressCity.errors.noWhiteSpaces">
                    City is required
                  </div>
                  <div *ngIf="shippingAddressCity.errors.minlength">
                    City must be at least 2 characters long
                  </div>
                </div>

              </div>
            </div>
          </div>

          <!-- state -->
          <div class="row">
            <div class="col-md-2"><label>State</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="state">
                  <option *ngFor="let theStates of shippingAddressStates" [ngValue]="theStates">
                    {{ theStates.name }}
                  </option>
                </select>

                <div
                  *ngIf="shippingAddressState.invalid && (shippingAddressState.dirty || shippingAddressState.touched)"
                  class="alert alert-danger mt-1">
                  <div *ngIf="shippingAddressState.errors.required">
                    State is required
                  </div>
                </div>

              </div>
            </div>
          </div>

          <!-- zipCode -->
          <div class="row">
            <div class="col-md-2"><label>Zip Code</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="zipCode" type="text">

                <div
                  *ngIf="shippingAddressZipCode.invalid && (shippingAddressZipCode.dirty || shippingAddressZipCode.touched)"
                  class="alert alert-danger mt-1">
                  <div *ngIf="shippingAddressZipCode.errors.required || shippingAddressZipCode.errors.noWhiteSpaces">
                    Zip-Code is required
                  </div>
                  <div *ngIf="shippingAddressZipCode.errors.minlength">
                    Zip-Code must be at least 2 characters long
                  </div>
                </div>

              </div>
            </div>
          </div>


        </div>
        <!-- End Shipping address form group -->

        <!-- check box -->
        <div class="input-space">
          <label class="au-checkbox">
            <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)">
            <span class="au-checkmark"></span>Billing Address same as Shipping Address
          </label>
        </div>
        <!-- end check box -->
        <!-- Billing address form group -->
        <div formGroupName="billingAddress" class="form-area">
          <h3>Billing Address</h3>

          <!-- country -->
          <div class="row">
            <div class="col-md-2"><label>Country</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="country" (change)="getStates('billingAddress')">
                  <option *ngFor="let theCountries of countries" [ngValue]="theCountries">
                    {{ theCountries.name }}
                  </option>
                </select>

                <div
                  *ngIf="billingAddressCountry.invalid && (billingAddressCountry.dirty || billingAddressCountry.touched)"
                  class="alert alert-danger mt-1">
                  <div *ngIf="billingAddressCountry.errors.required">
                    Country is required
                  </div>
                </div>

              </div>
            </div>
          </div>

          <!-- street Name -->
          <div class="row">
            <div class="col-md-2"><label>Street</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="street" type="text">

                <div *ngIf="billingAddressStreet.invalid && (billingAddressStreet.dirty || billingAddressStreet.touched)"
                  class="alert alert-danger mt-1">
                  <div *ngIf="billingAddressStreet.errors.required || billingAddressStreet.errors.noWhiteSpaces">
                    Street is required
                  </div>
                  <div *ngIf="billingAddressStreet.errors.minlength">
                    Street must be at least 2 characters long
                  </div>
                </div>

              </div>
            </div>
          </div>

          <!-- city Name -->
          <div class="row">
            <div class="col-md-2"><label>City</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="city" type="text">

                <div *ngIf="billingAddressCity.invalid && (billingAddressCity.dirty || billingAddressCity.touched)"
                  class="alert alert-danger mt-1">
                  <div *ngIf="billingAddressCity.errors.required || billingAddressCity.errors.noWhiteSpaces">
                    City is required
                  </div>
                  <div *ngIf="billingAddressCity.errors.minlength">
                    City must be at least 2 characters long
                  </div>
                </div>

              </div>
            </div>
          </div>

          <!-- state -->
          <div class="row">
            <div class="col-md-2"><label>State</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="state">
                  <option *ngFor="let theStates of billingAddressStates" [ngValue]="theStates">
                    {{ theStates.name }}
                  </option>
                </select>

                <div *ngIf="billingAddressState.invalid && (billingAddressState.dirty || billingAddressState.touched)"
                  class="alert alert-danger mt-1">
                  <div *ngIf="billingAddressState.errors.required">
                    State is required
                  </div>
                </div>

              </div>
            </div>
          </div>

          <!-- zipCode -->
          <div class="row">
            <div class="col-md-2"><label>Zip Code</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="zipCode" type="text">

                <div *ngIf="billingAddressZipCode.invalid && (billingAddressZipCode.dirty || billingAddressZipCode.touched)"
                  class="alert alert-danger mt-1">
                  <div *ngIf="billingAddressZipCode.errors.required || billingAddressZipCode.errors.noWhiteSpaces">
                    Zip-Code is required
                  </div>
                  <div *ngIf="billingAddressZipCode.errors.minlength">
                    Zip-Code must be at least 2 characters long
                  </div>
                </div>

              </div>
            </div>
          </div>


        </div>
        <!-- End Billing address form group -->

        <!-- Credit card form group -->
        <div formGroupName="creditCartInfo" class="form-area">
          <h3>Credit Card</h3>

          <!-- cardType -->
          <div class="row">
            <div class="col-md-2"><label>Card Type</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="cardType">
                  <option>Visa</option>
                  <option>Master Card</option>
                </select>

                <div *ngIf="creditCardType.invalid && (creditCardType.dirty || creditCardType.touched)"
                  class="alert alert-danger mt-1">
                  <div *ngIf="creditCardType.errors.required">
                   Card Type is required
                  </div>
                </div>

              </div>
            </div>
          </div>

          <!-- Card Name -->
          <div class="row">
            <div class="col-md-2"><label>Name on Card</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="nameOnCard" type="text">

                <div *ngIf="creditCardNameOnCard.invalid && (creditCardNameOnCard.dirty || creditCardNameOnCard.touched)"
                  class="alert alert-danger mt-1">
                  <div *ngIf="creditCardNameOnCard.errors.required || creditCardNameOnCard.errors.noWhiteSpaces">
                    Name on Card is required
                  </div>
                  <div *ngIf="creditCardNameOnCard.errors.minlength">
                    Name on Card  must be at least 2 characters long
                  </div>
                </div>

              </div>
            </div>
          </div>

          <!-- Card number -->
          <div class="row">
            <div class="col-md-2"><label>Card Number</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="cardNumber" type="text">

                <div *ngIf="creditCardNumber.invalid && (creditCardNumber.dirty || creditCardNumber.touched)"
                  class="alert alert-danger mt-1">
                  <div *ngIf="creditCardNumber.errors.required || creditCardNumber.errors.noWhiteSpaces">
                    Card Number is required
                  </div>
                  <div *ngIf="creditCardNumber.errors.pattern">
                    Card Number  must be 16 digit long
                  </div>
                </div>

              </div>
            </div>
          </div>

          <!-- security number -->
          <div class="row">
            <div class="col-md-2"><label>Security Code</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="securityCode" type="text">

                <div *ngIf="creditCardSecurityCode.invalid && (creditCardSecurityCode.dirty || creditCardSecurityCode.touched)"
                  class="alert alert-danger mt-1">
                  <div *ngIf="creditCardSecurityCode.errors.required || creditCardSecurityCode.errors.noWhiteSpaces">
                    Security Code is required
                  </div>      
                  <div *ngIf="creditCardSecurityCode.errors.pattern">
                    Security Code  must be 3 digit long
                  </div>
                </div>

              </div>
            </div>
          </div>


          <!-- expressionMonth -->
          <div class="row">
            <div class="col-md-2"><label>Expression Month</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="expressionMonth">
                  <option *ngFor="let month of creditCardMonth">
                    {{ month }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <!-- expressionYear -->
          <div class="row">
            <div class="col-md-2"><label>Expression Year</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="expressionYear" (change)="handelMonthsAndYears()">
                  <option *ngFor="let year of creditCardYear">
                    {{ year }}
                  </option>
                </select>
              </div>
            </div>
          </div>

        </div>
        <!-- End Credit card  form group -->

        <!--End customer form group -->

        <!-- review product -->
        <div class="form-area">
          <h3>Review Your Order</h3>
          <p>Total Quantity: {{totalQuantity}}</p>
          <p> Shipping Free</p>
          <p>Total Price: {{totalPrice | currency: 'INR'}}</p>
        </div>
        <!-- End review product -->
        <!-- submit button -->
        <div class="text-center">
          <button type="submit" class="btn btn-info">Purchase</button>
        </div>
      </form>

    </div>
  </div>
</div>
